/* Color 1: color1
   Color 2: color2
   link  color: Color 3: color3
   link hover color: color4 */
body {
    color: color1;
    background: color2;
}

a  {
    color: color3;
}

a:hover {
    color: color4;
}

#page-wrapper {
    width: portalwidth;
}

#left-sidebar .block,
#right-sidebar .block {
    border: 1px solid color2;
    padding: dpadding;
    margin-bottom: dmargin;
}

#left-sidebar {
    width: leftcolumn;
    margin: dmargin;
}

#left-sidebar .block {
    width: leftcontent
}

#right-sidebar {
    width: rightcolumn;
    margin: dmargin;
}

#right-sidebar .block {
    width: rightcontent;
}

#content {
    width: maincolumn;
    padding: dpadding;
    margin: dmargin;
}